:root {
    --header_color: #591615;
    --header_strip_color: #000000;

    --text_color_01: #ebd7c6;
    --text_color_02: #000000;
    --text_color_03: #591615;

    --border_color_01: #ebd7c6;
    --border_color_02: #000000;

    --background_color_01: #edede9;
    --background_color_02: #591615;
    --background_color_03: #000000;
}

#body {
    width: 100%;
    height: auto;
}

.footer_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer_quick_links_wrapper {
    width: 50%;
    height: 50px;
    background: var(--border_color_02);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    border-bottom-left-radius: 10px;
    margin: 0 0 0 0;
}

.footer_quick_links_wrapper h2 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: var(--text_color_01);
    line-height: 1.0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.footer_quick_links {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.footer_quick_links li {
    display: inline;
}

.footer_quick_links a {
    font-size: 16px;
    font-weight: 200;
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: var(--text_color_01);
    line-height: 1.0;
    text-align: center;
    text-decoration: none;
}

.footer_wrapper {
    width: 50%;
    height: 50px;
    background: var(--background_color_03);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom-right-radius: 10px;
    margin: 0 0 0 0;
}

.footer_wrapper h2 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: var(--text_color_01);
    line-height: 1.0;
    text-align: center;
    margin: 0;
}

.footer_wrapper p {
    font-size: 16px;
    font-weight: 200;
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: var(--text_color_01);
    line-height: 1.0;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 450px) {

    .footer_container {
        flex-direction: column;
    }

    .footer_quick_links_wrapper {
        width: 100%;
        border-bottom-left-radius: 0px;
    }

    .footer_wrapper {
        width: 100%;
        height: 80px;
        justify-content: space-around;
        gap: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .footer_wrapper h2 {
        font-size: 18px;
        text-align: left;
        margin-left: 25px;
    }

    .footer_wrapper p {
        text-align: right;
        margin-right: 25px;
    }
}