{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/partials/footer.css' %}?v={{ css_version }}">
    <title>Delivery Policy</title>
</head>
<body>

    <div class="delivery_policy_wrapper">
        <h2>Delivery Policy</h2>
        <p> Delivery & Shipping Policy  
            Effective Date: Tuesday, June 28, 2026 
            Last Updated: Tuesday, June 28, 2026

            1. Overview
            Feminine Essence Store (“we,” “our,” or “us”) strives to get your order to you safely, quickly, and affordably. This Delivery & Shipping Policy explains how we ship orders placed on our website, the timeframes you can expect, and what to do if something goes wrong with your shipment.

        

            2. Order Processing
            Processing Time:<br>
            Orders are processed in 1 to 2 validbusiness days (Monday‑Friday) after payment is confirmed.<br>
            Orders placed after 6:00 PM EST will begin processing the next business day.<br>
            Weekends & Holidays: We do not process, ship, or deliver orders on weekends or U.S. federal holidays. Any orders placed on these days will be processed on the next business day.

            3. Shipping Methods & Carriers
            We partner with trusted carriers to offer a variety of shipping options:
        </p>

        <ul>
            <li> Standard Shipping
        </ul>

        <ul>
            <li> 
        </ul>
    </div>

    <section class="footer_wrapper">
        <h2>2026 Feminine Essence </h2>
        <p>Todos os Direitos Reservados.</p>
    </section>
    
</body>
</html>