{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/partials/footer.css' %}?v={{ css_version }}">
    <title>Footer</title>
</head>
<body>

    <div class="footer_container">
        <div class="footer_quick_links_wrapper">
            <h2>Links Rápidos</h2>
            <ul class="footer_quick_links">
                <li><a href="{% url 'landing' %}">Home</a></li>
                <li><a href="{% url 'lingerie_store' %}">Loja</a></li>
                <li><a href="{% url 'policy_page' %}">Policy</a></li>
            </ul>
        </div>

        <div class="footer_wrapper">
            <h2>2026 Feminine Essence </h2>
            <p>Todos os Direitos Reservados.</p>
        </div>
    </div>
    
</body>
</html>