{% load static %}
<div class="lingerie_store_nav_wrapper">
    <h2 class="logo_text">Feminine <br>Essence</h2>

    <button type="button" id="mobile_menu_icon" class="mobile_menu_icon">
        <img class="menu_icon"
                data-open="{% static 'MEDIA/images/icons/close.png' %}"
                data-closed="{% static 'MEDIA/images/icons/line.png' %}"
                src="{% static 'MEDIA/images/icons/line.png' %}">
    </button>

    <ul class="nav_links">
        <li><a href="{% url 'landing' %}">Home</a></li>
        <li><a href="{% url 'lingerie_store' %}">Loja</a></li>
        <li><a href="{% url 'store_details' %}">Sobre</a></li>
        <li><a href="{% url 'contact_us' %}">Contato</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'cart_detail' %}">Carrinho</a></li>
            <li><a href="{% url 'user_logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'user_login' %}">Entrar</a></li>
            <li><a href="{% url 'user_signup' %}">Criar Conta</a></li>
        {% endif %}
    </ul>
</div>

<script nonce="{{ csp_nonce }}" src="{% static 'JS/partials/nav_bar.js' %}"></script>