{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carrinho</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'CSS/cart.css' %}">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2706358202873021" | crossorigin="anonymous"></script>
        <!-- Google Ads / gtag.js -->
        <script nonce="{{ csp_nonce }}" async src="https://www.googletagmanager.com/gtag/js?id=AW-18193604937"></script>
        <!-- Inline Google tag configuration -->
        <script nonce="{{ csp_nonce }}">window.dataLayer = window.dataLayer || []; function gtag() {dataLayer.push(arguments);} gtag("js", new Date()); gtag("config", "AW-18193604937");</script>
    </head>
    <body>

        {% include 'partials/nav_bar.html' %}

        <section class="cart_wrapper">
            <div class="cart_items_wrapper">
                {% for row in items %}

                <div class="cart_item">
                    {% if row.image %}
                    <img class="cart-image" src="{{ row.image }}">
                    {% endif %}
                    
                    <h2>{{row.item.name}}</h2>
            
                    <div class="qty-controls">
                        <button>-</button>
                        <input type="text" value="{{ row.item.quantity }}" readonly>
                        <button>+</button>
                    </div>
            
                    <div class="item_price">
                        <h2>Preço</h2>
                        <h2>${{ row.item.price|floatformat:2 }}</h2>
                    </div>
            
                  <!-- REMOVE -->
            
                  {% if row.item.product_type and row.item.product_id %}
                  <form class="remove_btn_form" method="POST" action="{% url 'cart_remove' row.product_type row.product_id %}">
                      {% csrf_token %}
                      <button class="remove-btn">Remove</button>
                  </form>
                  {% endif %}
                </div>

                <div class="list_devider"></div>
            
              {% empty %}
                <p class="empty_cart_msg">Carrinho ainda vazio!</p>
              {% endfor %}
            </div>
            

            <div class="cart_price_wrapper">
                <h2>Sumário da Ordem</h2>

                <div class="discount_code_wrapper">
                    <input type="text" placeholder="Código de Desconto">
                    <button>Confirmar</button>
                </div>

                <div class="charges_wrapper">
                    <div class="charge_title">
                        <h2>Subtotal:</h2>
                        <h2>Discontos:</h2>
                        <h2>Taxa de Entrega:</h2>
                        <h2>Taxa de Venda:</h2>
                    </div>

                    <div class="charge_values">
                        <h2>${{ subtotal|floatformat:2 }}</h2>
                        <h2>${{ discount|floatformat:2 }}</h2>
                        <h2>${{ delivery|floatformat:2 }}</h2>
                        <h2>${{ tax|floatformat:2 }}</h2>
                    </div>
                </div>

                <div class="checkout_window_devider"></div>

                <div class="total_price_wrapper">
                    <h2>TOTAL:</h2>
                    <h2>U${{ total|floatformat:2 }}</h2>
                </div>

                <form class="payment_form_wrapper" method="POST" action="{% url 'checkout' %}">
                    {% csrf_token %}
                    <button class="payment_btn" type="submit">PAGAMENTO</button>
                </form>
            </div>
        </section>
        
    </body>
</html>