{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact US</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'CSS/partials/nav_bar.css' %}?v={{ css_version }}">
        <link rel="stylesheet" href="{% static 'CSS/partials/footer.css' %}?v={{ css_version }}">
        <link rel="stylesheet" href="{% static 'CSS/contact_us.css' %}?v={{ css_version }}">
        <script nonce="{{ csp_nonce }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2706358202873021" crossorigin="anonymous"></script>
        <!-- Google Ads / gtag.js -->
        <script nonce="{{ csp_nonce }}" async src="https://www.googletagmanager.com/gtag/js?id=AW-18193604937"></script>
        <!-- Inline Google tag configuration -->
        <script nonce="{{ csp_nonce }}">window.dataLayer = window.dataLayer || []; function gtag() {dataLayer.push(arguments);} gtag("js", new Date()); gtag("config", "AW-18193604937");</script>
    </head>
    <body>

        {% include 'partials/nav_bar.html' %}

        <div class="contact_us_wrapper">
            <h2>Liga pr'agente!</h2>

            <div class="call_phone_wrapper">
                <img src="{% static 'MEDIA/images/icons/call.png' %}" alt="call icon">
                <h2>
                    <a href="+19789842920">(978) 984-2920</a>
                </h2>
            </div>

            <div class="contact_us_devider">
                <div class="devider_left"></div>
                <h2>Também Via:</h2>
                <div class="devider_right"></div>
            </div>

            <div class="apps_tag_wrapper">
                <div class="whatsapp_wrapper">
                    <a href="https://wa.me/19789842920" target="_blank">
                        <img src="{% static 'MEDIA/images/icons/whatsapp.png' %}" alt="whatsapp icon">
                    </a>
                </div>

                <div class="insta_wrapper">
                    <a href="https://wa.me/19789842920" target="_blank">
                        <img src="{% static 'MEDIA/images/icons/insta.png' %}" alt="instagram icon">
                    </a>
                </div>
            </div>
        </div>

        {% include 'partials/footer.html' %}
    </body>
</html>