{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cosmetic Details</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'CSS/partials/nav_bar.css' %}?v={{ css_version }}">
        <link rel="stylesheet" href="{% static 'CSS/partials/footer.css' %}?v={{ css_version }}">
        <link rel="stylesheet" href="{% static 'CSS/cosmetic_product_details.css' %}">
        <script nonce="{{ csp_nonce }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2706358202873021" crossorigin="anonymous"></script>
        <!-- Google Ads / gtag.js -->
        <script nonce="{{ csp_nonce }}" async src="https://www.googletagmanager.com/gtag/js?id=AW-18193604937"></script>
        <!-- Inline Google tag configuration -->
        <script nonce="{{ csp_nonce }}">window.dataLayer = window.dataLayer || []; function gtag() {dataLayer.push(arguments);} gtag("js", new Date()); gtag("config", "AW-18193604937");</script>
    </head>
    <body>

        {% include 'partials/nav_bar.html' %}

        <div class="product_details_wrapper">
            {% if product.image %}
                <div class="product_photo_wrapper">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                </div>
            {% endif %}

            <div class="devider_01"></div>

            {% csrf_token %}
            <div class="product_details_buy_wrapper">
                <h2>{{ product.name }}</h2>
                <h2>Detalhes:</h2>
                <p>{{ product.description }}</p>

                <div class="product_quantity_wrapper">
                    <label>Quantidade</label>
                    <select name="quantity">
                        {% for i in qty_range %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>

                <p>U${{ product.price }}</p>
                <div class="product_detail_buy_button_wrapper">
                    <form method="POST" action="{% url 'square_checkout' 'CosmeticProduct' product.id %}">
                        {% csrf_token %}
                        <button class="buy_now_btn" type="submit">
                            Comprar Agora
                        </button>
                    </form>

                    <form method="post" action="{% url 'cart_add' 'CosmeticProduct' product.id %}">
                        {% csrf_token %}
                        <button class="add_to_cart" type="submit">
                            <img src="{% static 'MEDIA/images/icons/add-to-cart.png' %}" alt="buy now icon" srcset="">
                        </button>
                    </form>
                </div>
            </div>
        </div>

        {% include 'partials/footer.html' %}
    </body>
</html>