<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
</head>
<body>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-18193604937"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-18193604937');
  </script>

  <section class="section_01">
    <div class="top_header_wrapper">
      <div class="logo_text_wrapper">
        <h2 class="logo_text">
          Feminine
        </h2>
  
        <h2 class="logo_text_02">
          Essence
        </h2>
      </div>

      <div class="top_text_wrapper">
        <h2>
          Sinta-se
        </h2>

        <h2>
          irresistível
        </h2>

        <h2>
          Abraçe cada curva com intensidade.
        </h2>
      </div>

      <div class="header_bottom_strip">
        <ul>
          <li>Frete Gratis</li>
          <li>Entrega Rápida</li>
          <li>Pagamento Seguro</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section_02">
    <div class="section_02_title_wrapper">
      <h2>Coleção</h2>
      <h2>Escolha a sua</h2>
    </div>

    <div class="product_category_wrapper">
      <div class="category_card" onclick="window.location.href='{% url 'lingerie_store' %}'">
        <h2 class="category_card_title">
          Lingerie
        </h2>
      </div>

      <div class="category_card">
        <h2 class="category_card_title">
          Cosméticos
        </h2>
    </div>
  </section>

  <section class="section_03">
    <div class="section_03_title_wrapper">
      <h1>Como Funciona</h1>
      <h2>3 Passos Simples</h2>
    </div>

    <div class="section_03_context_wrapper_01">

      <div class="steps_design">
        <div class="step_number">1</div>
        <div class="step_devider"></div>
        <div class="step_number">2</div>
        <div class="step_devider"></div>
        <div class="step_number">3</div>
      </div>
    </div>

    <div class="steps_context">
      <div class="step_context_card">
        <h2>Escolha</h2>
        <p>Selecione a peça que você quer e seu tamanho.</p>
      </div>

      <div class="step_context_card">
        <h2>Pague</h2>
        <p>Pix, Cartão ou Dinheiro. Rápido e seguro.</p>
      </div>

      <div class="step_context_card">
        <h2>Receba</h2>
        <p>Entregamos na sua porta em até 5 dias.</p>
      </div>
    </div>

    <div class="extra_description_section_03">
      <h2>Entrega disponivel para todo E.U.A </h2>
    </div>
  </section>

  <section class="section_04">
    <div class="store_disclaimer_wrapper">
      <div class="section_04_icon_01">
        <img src="{% static 'MEDIA/svgs/guarantee.png' %}" alt="Satisfaction Guaranteed Icon" srcset="">
      </div>
      <h2>Satisfação Garantida</h2>
      <p></p>
    </div>
  </section>

  <section class="section_05">
    <div class="store_disclaimer_wrapper_02">
      <h2>Você merece<br>se sentir assim.</h2>
      <p>Frete grátis em compras acima de U$ 100.00</p>
      <button class="buy_landing_page_btn">
        Quero Comprar
      </button>
    </div>
  </section>

  <section class="section_06">
    <h2>2026 Feminine Essence </h2>
    <p>Todos os Direitos Reservados.</p>
  </section>
    
</body>
</html>