{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="{% static 'MEDIA/images/icons/lotus_pink.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}?v={{ css_version }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2706358202873021" | crossorigin="anonymous"></script>
</head>
<body>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-18193604937"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-18193604937');
  </script>

  <section class="section_01">
    <div class="top_header_wrapper">
      <div class="logo_text_wrapper">
        <h2>
          Feminine
        </h2>
  
        <h2>
          Essence
        </h2>
      </div>

      <div class="top_text_wrapper">
        <h2>
          Lingerie, Babydolls & Perfumes
        </h2>
      </div>

      <div class="header_bottom_strip">
        <ul>
          <li>Frete Grátis</li>
          <li>Entrega Rápida</li>
          <li>Pagamento Seguro</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section_02">

    <div class="intro_01_wrapper">
      <div class="intro_card">
          <img src="{% static 'MEDIA/images/icons/underwear.png' %}" alt="perfume icon">
          <h2>
            Encontre peças e fragrâncias para se sentir ainda mais confiante.
        </h2>
      </div>

      <div class="intro_card">
        <h2>
          Para mulheres que querem se sentir lindas no dia a dia e em momentos especiais.<br>Explore conjuntos de lingerie, babydolls, camisolas e perfumes WePink selecionados para celebrar sua essência.
        </h2>
        <img src="{% static 'MEDIA/images/icons/perfume.png' %}" alt="perfume icon">
      </div>
    </div>

    <div class="section_02_title_wrapper">
      <h2>Coleção</h2>
      <h2>Escolha a sua</h2>
    </div>

    <div class="product_category_wrapper">
      <button class="category_card" onclick="window.location.href='{% url 'lingerie_store' %}'">
          Comprar Lingerie
      </button>

      <button class="category_card" onclick="window.location.href='{% url 'cosmetic_store' %}'">
          Conhecer Cosméticos
      </button>
    </div>
  </section>

  <section class="section_03">
    <div class="section_03_title_wrapper">
      <h2>Como Funciona</h2>
      <h2>3 Passos Simples</h2>
    </div>

    <div class="steps_design">
      <h2>1</h2>
      <div class="step_devider"></div>
      <h2>2</h2>
      <div class="step_devider"></div>
      <h2>3</h2>
    </div>

    <div class="steps_context">
      <div class="step_context_card">
        <h2>Escolha</h2>
        <p>Selecione a peça e tamanho desejado.</p>
      </div>

      <div class="step_context_card">
        <h2>Pague</h2>
        <p>Crédito ou Débito. Rápido e seguro.</p>
      </div>

      <div class="step_context_card">
        <h2>Receba</h2>
        <p>Entrega grátis em até 5 dias acima de U$ 100.00.</p>
      </div>
    </div>

    <div class="extra_description_section_03">
      <h2>Entrega disponivel para todo E.U.A </h2>
    </div>
  </section>

  <section class="section_04">
    <div class="section_04_icon_01">
      <img src="{% static 'MEDIA/svgs/guarantee.png' %}" alt="Satisfaction Guaranteed Icon" srcset="">
    </div>

    <h2>Satisfação Garantida</h2>
  </section>

  <section class="section_05">
    <h2>Você merece<br>se sentir assim</h2>
    <button class="buy_landing_page_btn" onclick="window.location.href='{% url 'lingerie_store' %}'">
      Quero Comprar
    </button>
  </section>

  {% include 'partials/footer.html' %}
    
</body>
</html>