{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Lingerie Store</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'CSS/lingerie_store.css' %}?v={{ css_version }}">
      <script nonce="{{ csp_nonce }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2706358202873021" | crossorigin="anonymous"></script>
      <!-- Google Ads / gtag.js -->
      <script nonce="{{ csp_nonce }}" async src="https://www.googletagmanager.com/gtag/js?id=AW-18193604937"></script>
      <!-- Inline Google tag configuration -->
      <script nonce="{{ csp_nonce }}">window.dataLayer = window.dataLayer || []; function gtag() {dataLayer.push(arguments);} gtag("js", new Date()); gtag("config", "AW-18193604937");</script>
  </head>
  <body>

    {% include 'partials/nav_bar.html' %}

    <div class="page_title_wrapper">
      <h2 class="page_title">Coleção 2026</h2>
      <h2 class="page_title_01">Lingerie & Conjuntos</h2>

      <div class="page_filtering_tab_wrapper">
        <div class="page_filtering_tab_scroller">
          <a href="{% url 'lingerie_store' %}"
            class="clear_all_filter_button {% if not selected_badge %}active{% endif %}">
            Todos
         </a>

          {% for badge in badges %}
            <a href="{% url 'lingerie_store' %}?badge={{ badge.name }}"
              class="{% if selected_badge == badge.name %}active{% endif %}">
              {{badge.name}}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="products">
      <div class="products_wrapper">
        {% for item in contents %}
          <div class="product_card_wrapper">
            {% if item.image %}
              <div class="product_card_media_wrapper">
                <img src="{{ item.image.url }}" alt="{{ item.title }}">
              </div>
            {% endif %}
    
            <div class="product_context_wrapper">
              <h2>{{ item.name }}</h2>
              <p>{{ item.description }}</p>
            </div>
    
            <div class="product_price_wrapper">
              <h2>${{ item.price }}</h2>

              <a class="btn_product_description" href="{% url 'product_details' item.id %}">
                Ver
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    {% include 'partials/footer.html' %}
      
  </body>
</html>