<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'CSS/product_details.css' %}">
</head>
<body>

    <div class="lingerie_store_nav_wrapper">

        <h2 class="logo_text">Feminine Essence</h2>
    
        <ul class="nav_links">
          <li><a href="{% url 'landing' %}">Home</a></li>
          <li><a href="{% url 'lingerie_store' %}">Loja</a></li>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
    </div>

    <div class="product_details_wrapper">
        <div class="product_photo_wrapper">
            <img src="{% static 'MEDIA/images/product_detail/insta_ad_02.png' %}" alt="" srcset="">
        </div>

        <div class="product_details_buy_wrapper">
            <h2 class="product_detail_title">Product Title</h2>
            <p class="product_detail_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
            <p class="product_detail_price">R$ 199,99</p>
            <div class="product_detail_buy_button_wrapper">
                <button>Comprar Agora</button>
                <button>
                    <img src="{% static 'MEDIA/images/icons/add-to-cart.png' %}" alt="" srcset="">
                </button>
            </div>
        </div>
    </div>
</body>
</html>