{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Item Detail</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'CSS/product_details.css' %}">
    </head>
    <body>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-18193604937"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'AW-18193604937');
        </script>

        {% include 'partials/nav_bar.html' %}

        <div class="product_details_wrapper">
            {% if product.image %}
                <div class="product_photo_wrapper">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                </div>
            {% endif %}

            <div class="devider_01"></div>

            <form method="POST" action="{% url 'square_checkout' 'lingerie' product.id %}">

                {% csrf_token %}
                <div class="product_details_buy_wrapper">
                    <h2>{{ product.name }}</h2>
                    <h2>Detalhes:</h2>
                    <p>{{ product.description }}</p>

                    <div class="product_quantity_wrapper">
                        <label>Quantidade</label>
                        <select name="quantity">
                            {% for i in "123456789"|make_list %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <p>${{ product.price }}</p>
                    <div class="product_detail_buy_button_wrapper">
                        <button type="submit">
                            Comprar Agora
                        </button>
                        <button>
                                <img src="{% static 'MEDIA/images/icons/add-to-cart.png' %}" alt="buy now icon" srcset="">
                        </button>
                    </div>
                </div>
            </form>
        </div>

        {% include 'partials/footer.html' %}
    </body>
</html>