{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Info</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'CSS/store_details.css' %}">
    <script nonce="{{ csp_nonce }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2706358202873021" | crossorigin="anonymous"></script>
    <!-- Google Ads / gtag.js -->
    <script nonce="{{ csp_nonce }}" async src="https://www.googletagmanager.com/gtag/js?id=AW-18193604937"></script>
    <!-- Inline Google tag configuration -->
    <script nonce="{{ csp_nonce }}">window.dataLayer = window.dataLayer || []; function gtag() {dataLayer.push(arguments);} gtag("js", new Date()); gtag("config", "AW-18193604937");</script>
</head>
<body>

    {% include 'partials/nav_bar.html' %}

    <div class="store_details_wrapper">
        <h2 class="store_details_title">Sobre a Loja</h2>
        <p class="store_details_description">
            Bem-vinda à Feminine Essence, um lugar onde beleza e sensualidade se encontram. 
            Nossa loja é o local perfeito para todas as mulheres que desejam realçar sua feminilidade e 
            encontrar algo especial que as faça brilhar. 
            Explore o mundo de lingeries e conjuntos maravilhosos que preparamos para você 
            exibir seu corpo incrível. Toda a nossa equipe está esperando por você para que encontre peças 
            exclusivas, criadas para que você se sinta deslumbrante e fabulosa.
        </p>
    </div>

    <div class="store_location_wrapper">
        <h2 class="store_location_title">Onde Estamos</h2>
        <p class="store_location_description">
            Nossa loja está localizada no coração da cidade, em um endereço de fácil acesso. 
            Venha nos visitar e experimente a atmosfera única da Feminine Essence. 
            Estamos ansiosos para recebê-lo e ajudá-lo a encontrar as peças perfeitas para realçar sua beleza e confiança. 
            Confira nosso mapa abaixo para encontrar o caminho até nós.<br>
            <br>
            <strong>
                1820 THE EXCHANGE SUITE 550<br>
                MARIETTA - GA
            </strong>
        </p>
        <div class="map_wrapper">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.3203073419118!2d-84.4792559!3d33.9071549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f511a80bc14295%3A0xa3aa7bc407dbbca4!2s1820%20The%20Exchange%20SE%2C%20Atlanta%2C%20GA%2030339!5e0!3m2!1sen!2sus!4v1780407105548!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    {% include 'partials/footer.html' %}
</body>