{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Info</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'CSS/store_details.css' %}">
</head>
<body>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-18193604937"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-18193604937');
    </script>

    {% include 'partials/nav_bar.html' %}

    <div class="store_details_wrapper">
        <h2 class="store_details_title">Nossa Loja</h2>
        <p class="store_details_description">
            Bem-vindo à Feminine Essence, onde a elegância e a sensualidade se encontram. Nossa loja é um espaço dedicado a celebrar a beleza feminina, oferecendo uma seleção exclusiva de lingerie e conjuntos que realçam a confiança e o charme de cada mulher. Com um ambiente acolhedor e uma equipe apaixonada, estamos aqui para ajudar você a encontrar peças que não apenas complementem seu estilo, mas também façam você se sentir incrível. Descubra a essência da feminilidade em cada detalhe da nossa coleção.
        </p>
    </div>

    <div class="store_location_wrapper">
        <h2 class="store_location_title">Onde Estamos</h2>
        <p class="store_location_description">
            Nossa loja está localizada no coração da cidade, em um endereço de fácil acesso. Venha nos visitar e experimente a atmosfera única da Feminine Essence. Estamos ansiosos para recebê-lo e ajudá-lo a encontrar as peças perfeitas para realçar sua beleza e confiança. Confira nosso mapa abaixo para encontrar o caminho até nós.
        </p>
        <div class="map_wrapper">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.3203073419118!2d-84.4792559!3d33.9071549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f511a80bc14295%3A0xa3aa7bc407dbbca4!2s1820%20The%20Exchange%20SE%2C%20Atlanta%2C%20GA%2030339!5e0!3m2!1sen!2sus!4v1780407105548!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    {% include 'partials/footer.html' %}
</body>