{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Set!</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'CSS/order_confirmation.css' %}">
        <script nonce="{{ csp_nonce }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2706358202873021" crossorigin="anonymous"></script>
        <!-- Google Ads / gtag.js -->
        <script nonce="{{ csp_nonce }}" async src="https://www.googletagmanager.com/gtag/js?id=AW-18193604937"></script>
        <!-- Inline Google tag configuration -->
        <script nonce="{{ csp_nonce }}">window.dataLayer = window.dataLayer || []; function gtag() {dataLayer.push(arguments);} gtag("js", new Date()); gtag("config", "AW-18193604937");</script>
    </head>
    <body>

        {% include 'partials/nav_bar.html' %}

        <div class="order_confirmation_wrapper">
            {% if order.status == "paid" %}
                <img src="{% static 'MEDIA/images/icons/lotus_pink.png' %}" alt="pink lotus icon">
                <h2 class="main_title">
                    Pedido Confirmado!
                </h2>
            
                <p class="confirmation_message">
                    Obrigada por comprar conosco! Seu pedido foi recebido e está sendo processado. Você receberá um email de confirmação em breve.
                </p>

                <a href="{% url 'lingerie_store' %}">
                    Voltar para a Loja
                </a>
            {% elif order.status == "pending" %}
                <h2>
                    Pagamento Pendente
                </h2>
                <p>
                    Ainda estamos aguardando a confirmação do seu pagamento.
                </p>  
            {% elif order.status == "cancelled" %}
                <h2>
                    Order cancelled
                </h2>
                <p>
                    Esta ordem não pode ser completada.
                </p> 
            {% endif %}
        </div>

        {% include 'partials/footer.html' %}
    </body>
</html>