:root {
    --header_color: #591615;
    --header_strip_color: #000000;

    --text_color_01: #ebd7c6;
    --text_color_02: #000000;
    --text_color_03: #591615;
    --text_color_04: #ffffff;

    --border_color_01: #ebd7c6;
    --border_color_02: #000000;
    --border_color_03: #591615;
    --border_color_04: #B4B4B4;

    --background_color_01: #edede9;
    --background_color_05: #F9F6F6;
    --background_color_03: #000000;

    --button_color_01: #591615;
    --button_color_02: #ebd7c6;
    --button_color_03: #F9F6F6;
    --button_color_04: #000000;
}

#body {
    width: 100%;
    height: auto;
}


.cart_wrapper {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.9%;
    margin: 50px 0 0 0;
}

.cart_items_wrapper {
    width: 65%;
    height: 600px;
    background: var(--background_color_01);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    margin: 0;
    border-radius: 20px;
}

.cart_item {
    width: 95%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border_color_04);
    border-radius: 21px;
    overflow: hidden;
    margin: 10px auto;
}

.cart_item:nth-child(1) {
    margin: 20px auto 10px auto;
}

.cart_item h2 {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: var(--text_color_03);
    line-height: 1.0;
    padding: 0;
    margin: 0;
}

.cart-image {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-right: 1px solid var(--border_color_04);
    border-radius: 10px 0px 0px 10px;
    background: #f5f5f5;  
    margin: 0;
}

.qty-controls {
    width: 180px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px 7px;  
}

.qty-controls button {
    border: none;
    background: var(--button_color_01);
    color: var(--text_color_01);
    padding: 5px 16px;
    cursor: pointer;
    border-radius: 20px;  
    margin: 0;
}
  
.qty-controls input {
    width: 70px;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 10px;
    outline: none;  
}

.item_price {
    width: 70px;
}

.item_price h2:nth-child(1) {
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 5px 0;
}

.remove_btn_form {
    width: 100px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.remove-btn {
    width: 100px;
    height: 100%;
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;  
}

.list_devider {
    width: 80%;
    height: 1px;
    background: var(--border_color_04);
}

.empty_cart_msg {
    font-size: 24px;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: var(--text_color_03);
    line-height: 1.0;
    padding: 0;
    margin: 30% auto;
}

.cart_price_wrapper {
    width: 25%;
    height: 600px;
    background: var(--background_color_01);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    border-radius: 20px;
}

.cart_price_wrapper h2 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: var(--text_color_03);
    line-height: 1.0;
    padding: 0;
    margin: 0;
}

.cart_price_wrapper h2:nth-child(1) {
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    margin: 30px auto 0 30px;
}

.discount_code_wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
    margin: 0;
}

.discount_code_wrapper input {
    width: 200px;
    height: 15px;
    border: none;
    border-radius: 30px;
    margin: 0;
    padding: 10px 10px;
}

.discount_code_wrapper button {
    width: 90px;
    height: 35px;
    background: var(--button_color_01);
    border: none;
    border-radius: 30px;
    color: var(--text_color_01);
    scale: 1.0;
    transition: all 0.25s ease-in;
}

.discount_code_wrapper button:hover {
    cursor: pointer;
    scale: 1.05;
    background-color: var(--background_color_01);
    color: var(--text_color_03);
    border: 1px solid var(--border_color_03);
}

.charges_wrapper {
    width: 85%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.charge_title {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.charge_title h2:nth-child(1),
.charge_title h2:nth-child(2),
.charge_title h2:nth-child(3),
.charge_title h2:nth-child(4){
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    text-align: left;
}

.charge_values {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
}

.charge_values h2:nth-child(1),
.charge_values h2:nth-child(2),
.charge_values h2:nth-child(3),
.charge_values h2:nth-child(4){
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    text-align: right;
}

.checkout_window_devider {
    width: 85%;
    height: 1px;
    background: var(--background_color_03);
}

.total_price_wrapper {
    width: 84%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 0;
}

.total_price_wrapper h2:nth-of-type(1) {
    font-size: 22px;
    margin: 0;
}

.total_price_wrapper h2:nth-of-type(2) {
    font-size: 22px;
    margin: 0;
}

.payment_form_wrapper {
    width: 100%;
}

.payment_btn {
    width: 100%;
    height: 60px;
    background: var(--button_color_01);
    border: none;
    border-radius: 0px 0px 20px 20px;
    color: var(--text_color_01);
    font-size: 20px;
    transition: all 0.2s ease-in;
}

.payment_btn:hover {
    cursor: pointer;
    background: transparent;
    color: var(--text_color_03);
}

@media screen and (max-width: 450px) {
    .cart_wrapper {
        height: 100vh;
        flex-direction: column;
        gap: 3.9%;
        margin: 30px 0 0 0;
    }

    .cart_items_wrapper {
        width: 90%;
        height: 500px;
    }

    .cart_item {
        width: 95%;
        height: 70px;
    }

    .cart_item h2 {
        display: none;
    }

    .qty-controls {
        width: 120px;
        flex-direction: row;
    }

    .qty-controls button {
        border: none;
        background: var(--button_color_01);
        color: var(--text_color_01);
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 20px;  
        margin: 0;
    }
      
    .qty-controls input {
        width: 40px;
        height: 30px;
        text-align: center;
        border: none;
        border-radius: 10px;
        outline: none;  
    }

    .item_price {
        display: none;
    }

    .remove_btn_form {
        width: auto;
    }
    
    .remove-btn {
        width: 80px;
        padding: 8px 10px;
    }

    .cart_price_wrapper {
        width: 90%;
        height: 600px;
        background: var(--background_color_01);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        border-radius: 20px;
    }
}