:root {
    --header_color: #591615;
    --header_strip_color: #000000;

    --text_color_01: #ebd7c6;
    --text_color_02: #000000;
    --text_color_03: #591615;

    --border_color_01: #ebd7c6;
    --border_color_02: #000000;

    --background_color_01: #edede9;
    --background_color_02: #591615;
    --background_color_03: #000000;

    --whatsapp_color: #25D366;
    --instagram_color: #E1306C;
}

#body {
    width: 100%;
    height: auto;
}

.contact_us_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
}

.contact_us_wrapper h2{
    font-size: 48px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: var(--text_color_03);
    margin: 0 0 0 0;
}

.call_phone_wrapper,
.apps_tag_wrapper {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0 0 0;
}

.call_phone_wrapper img,
.apps_tag_wrapper img {
    width: 50px;
    height: 50px;
    margin: 0 20px 0 0;
}

.call_phone_wrapper h2,
.apps_tag_wrapper h2 {
    font-size: 28px;
    font-weight: 300;
}

.call_phone_wrapper a,
.apps_tag_wrapper a {
    color: inherit;
    text-decoration: none;
}

.whatsapp_wrapper,
.insta_wrapper {
    width: 100px;
    height: 100px;
    background: var(--whatsapp_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border_color_02);
    border-radius: 70px;
    margin: 0 0 0 20px;
}

.whatsapp_wrapper img,
.insta_wrapper img {
    width: 50px;
    height: 50px;
    margin: 5px 0 0 0;
}

.insta_wrapper {
    background: var(--instagram_color);
}

@media screen and (max-width: 450px) {
    
}