:root {
    --header_color: #591615;
    --header_strip_color: #000000;

    --text_color_01: #ebd7c6;
    --text_color_02: #000000;
    --text_color_03: #591615;

    --border_color_01: #ebd7c6;
    --border_color_02: #000000;

    --background_color_01: #edede9;
    --background_color_02: #591615;
    --background_color_03: #000000;
}

.page_title_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
}

.page_title,
.page_title_01 {
    font-size: 56px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--text_color_02);
    margin: 10px 0 0 0;
}

.page_title_01 {
    font-size: 22px; 
}

.page_filtering_tab_wrapper {
    width: 100%;
    height: 60px;
    align-content: center;
    margin: 80px 0 0 0;
    overflow-x: hidden;
}

.page_filtering_tab_scroller {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.page_filtering_tab_wrapper a {
    width: 150px;
    height: 35px;
    background: var(--background_color_02);
    color: var(--text_color_01);
    align-content: center;
    font-size: 12px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.06);
    scale: 1.0;
    transition: all 0.25s ease-in-out;
}

.page_filtering_tab_wrapper a:hover {
    scale: 1.05;
    background: var(--background_color_01);
    color: var(--text_color_03);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.3), 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.page_filtering_tab_wrapper a.active {
    background: var(--background_color_01);
    color: var(--text_color_03);
    border: 1px solid var(--border_color_02);
}

.products {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 50px 0;
}

.products_wrapper {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 70px 0 0 0;
}

.product_card_wrapper {
    width: 300px;
    height: 450px;
    background: var(--background_color_01);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.product_card_media_wrapper {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.product_card_media_wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product_context_wrapper {
    width: 90%;
    height: auto;
    margin: 0 0 0 0;
}

.product_context_wrapper h2 {
    font-size: 26px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: var(--text_color_02);
    text-align: left;
    line-height: 1;
    margin: 0;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product_context_wrapper p {
    font-size: 16px;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    color: var(--text_color_02);
    text-align: left;
    line-height: 1;
    margin: 15px 0 0 0;
}

.product_price_wrapper {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 0;
}

.product_price_wrapper h2 {
    font-size: 22px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    color: var(--text_color_02);
    text-align: left;
    line-height: 1;
    margin: 0;
}

.btn_add_to_cart{
    width: 40px;
    height: 40px;
    background: var(--background_color_02);
    border: 1px solid var(--border_color_01);
    border-radius: 50px;
    cursor: pointer;
    scale: 1;
    transition: all 0.25s ease-in-out;
}

.btn_add_to_cart img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.btn_add_to_cart:hover {
    background: var(--background_color_03);
    border: 1px solid var(--border_color_02);
    scale: 1.1;
}

.btn_product_description {
    text-decoration: none;
    width: 90px;
    height: 40px;
    background: var(--background_color_02);
    color: var(--text_color_01);
    font-size: 14px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
    line-height: 1px;
    border: 1px solid var(--border_color_01);
    border-radius: 50px;
    cursor: pointer;
    scale: 1;
    transition: all 0.25s ease-in-out;
}

.btn_product_description:hover {
    background: var(--background_color_01);
    border: 1px solid var(--border_color_02);
    color: var(--text_color_03);
    scale: 1.05;
}

@media screen and (max-width: 450px) {
    .logo_text {
        font-size: 22px;
        font-weight: 400;
        line-height: 1.0;
        margin: 0 0 0 10px;
    }

    .nav_links {
        gap: 15px;
        margin: 0 15px 0 0;
    }
    
    .nav_links a {
        font-size: 16px;
        font-weight: 300;
    }

    .page_title,
    .page_title_01 {
        font-weight: 400;
        color: var(--text_color_03);
    }

    .page_filtering_tab_wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 50px 0 0 0;
        overflow-x: scroll;
    }

    .page_filtering_tab_scroller {
        width: auto;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    
    .page_filtering_tab_wrapper button {
        width: 150px;
    }
    
}