:root {
    --header_color: #591615;
    --header_strip_color: #000000;

    --text_color_01: #ebd7c6;
    --text_color_02: #000000;
    --text_color_03: #591615;

    --border_color_01: #ebd7c6;

    --background_color_01: #edede9;
    --background_color_02: #591615;
    --background_color_03: #000000;
}

#body {
    width: 100vw;
    height: auto;
}

.top_header_wrapper {
    position: relative;
    width: 100%;
    height: 60vh;
    background: var(--header_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 0;
}

.logo_text_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-style: normal;
    line-height: 1;
    color: var(--text_color_01);
    margin: 0;
    padding: 0;
}

.logo_text_wrapper h2:nth-child(1) {
    font-size: 36px;
    font-weight: 700;
}

.logo_text_wrapper h2:nth-child(2) {
    font-size: 36px;
    font-weight: 200;
}

.top_text_wrapper{
    width: 100%;
    height: auto;
    align-content: center;
    margin: 0 0 0 0;
    padding: 0;
}

.top_text_wrapper h2 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    line-height: 1.0;
    text-align: center;
    color: var(--text_color_01);
    margin: 0 0 0 0;
}

.top_text_wrapper h2:nth-child(1){
    font-size: 32px;
    font-weight: 300;
    color: var(--text_color_01);
    margin: 0 0 20px 0;
}

.top_text_wrapper h2:nth-child(2) {
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1px;
    margin: 10px 0 10px 0;
}

.top_text_wrapper h2:nth-child(3) {
    font-size: 22px;
    font-weight: 300;
}

.header_bottom_strip {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    background: var(--header_strip_color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_bottom_strip ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0px;
}

.header_bottom_strip li {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--text_color_01);
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
}

.section_02 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    align-items: center;
    margin: 90px 0 0 0;
}

.intro_01_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.intro_card {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px 0;
}

.intro_card img {
    width: 150px;
    height: auto;
}

.intro_card h2 {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--text_color_03);
    text-align: center;
    line-height: 1;
    margin: 0;
}

.intro_card:nth-child(1) h2 {
    font-size: 18px;
    text-transform: uppercase;
    text-align: right;
}

.intro_card:nth-child(2) h2 {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    line-height: 1.1;
}

.section_02_title_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 0 50px 0;
}

.section_02_title_wrapper h2 {
    font-family: "Lato", sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1.0;
}

.section_02_title_wrapper h2:nth-child(1) {
    font-weight: 200;
    font-size: 32px;
    color: var(--text_color_03);
    letter-spacing: 10px;
    font-style: italic;
}

.section_02_title_wrapper h2:nth-child(2) {
    font-weight: 400;
    font-size: 52px;
    color: var(--text_color_02);
    font-style: normal;
}

.product_category_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0 0 0 0;
}

.category_card {
    width: 450px;
    height: 70px;
    background: var(--background_color_02);
    border: none;
    border-radius: 50px;
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: var(--text_color_01);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    align-content: center;
    line-height: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
}

.category_card:hover {
    background: var(--background_color_01);
    color: var(--text_color_03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.section_03 {
    width: 100%;
    height: auto;
    background: var(--background_color_03);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin: 100px 0 0 0;
}

.section_03_title_wrapper {
    width: 100%;
    height: auto;
    margin: 30px 0 0 0;
}

.section_03_title_wrapper h2 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: var(--text_color_01);
    line-height: 1.0;
    text-align: center;
    margin: 0;
}

.section_03_title_wrapper h2:nth-child(1) {
    font-size: 22px;
    font-weight: 200; 
    margin: 0 0 10px 0;
}

.section_03_title_wrapper h2:nth-child(2) {
    font-size: 54px;
    font-weight: 600;
}

.steps_design {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 80px 0 0px 0;
}

.steps_design h2 {
    width: 100px;
    height: 100px;
    border: 2px solid var(--border_color_01);
    border-radius: 50%;
    font-size: 46px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    font-style: italic;
    color: var(--text_color_01);
    line-height: 1.0;
    text-align: center;
    align-content: center;
    margin: 0;
}

.step_devider {
    width: 250px;
    height: 2px;
    background: var(--border_color_01);
}

.steps_context {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 165px;
    margin: 0 0 30px 0;
}

.step_context_card {
    width: 250px;
    height: auto;
    border-radius: 10px;
    align-content: center;
    margin: 10px 0 0 0;
}

.step_context_card h2,
.step_context_card p {
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: var(--text_color_01);
    line-height: 1.0;
    text-align: center;
    margin: 10px 0 0 0;
}

.step_context_card h2 {
    font-size: 26px;
    font-weight: 400;
}

.step_context_card p {
    font-size: 16px;
    font-weight: 200;
}

.extra_description_section_03 {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
}

.extra_description_section_03 h2 {
    font-size: 22px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: var(--text_color_01);
    text-align: center;
    line-height: 1.0;
}

.section_04 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 50px 0 0 0;
}

.section_04_icon_01 {
    width: 150px;
    height: 150px;
    margin: 0;
}

.section_04_icon_01 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section_04 h2 {
    font-size: 32px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: var(--text_color_02);
    line-height: 1.0;
    text-align: center;
    margin: 0;
}

.section_05 {
    width: 100%;
    height: auto;
    background: var(--background_color_02);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px 0 0 0;
}

.section_05 h2 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: var(--text_color_01);
    line-height: 1.0;
    text-align: center;
    margin: 0;
}

.section_05 h2{
    font-size: 54px;
    font-weight: 400;
    margin: 30px 0 0 0;
}

.buy_landing_page_btn {
    width: 200px;
    height: 50px;
    background: var(--background_color_01);
    border: none;
    border-radius: 10px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--text_color_03);
    text-decoration: none;
    text-align: center;
    align-content: center;
    cursor: pointer;
    margin: 30px 0 40px 0;
}

@media screen and (max-width: 450px) {
    
    .top_header_wrapper {
        height: 30vh;
        padding: 0;
    }

    .top_text_wrapper{
        width: 80%;
    }

    .top_text_wrapper h2:nth-child(1) {
        font-size: 22px;
        font-weight: 300;
    }

    .top_text_wrapper h2:nth-child(2) {
        font-size: 22px;
        font-weight: 300;
    }

    .header_bottom_strip {
        height: 6vh;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .header_bottom_strip ul {
        width: 95%;
        padding-left: 0px;
        gap: 5px;
    }

    .header_bottom_strip li {
        font-size: 12px;
        font-weight: 300;
    }

    .section_02 {
        margin: 50px 0 0 0;
    }

    .intro_card {
        width: 90%;
        flex-direction: row;
        margin: 0 0 30px 0;
    }

    .intro_card img {
        width: 150px;
        height: auto;
    }

    .intro_card:nth-child(1) img {
        width: 120px;
        height: auto;
    }

    .intro_card h2 {
        font-size: 18px;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: var(--text_color_03);
        text-align: center;

        line-height: 1;
        margin: 0;
    }

    .intro_card:nth-child(1) h2 {
        font-size: 20px;
        text-transform: uppercase;
        text-align: right;
    }

    .intro_card:nth-child(2) h2 {
        font-size: 18px;
        font-weight: 300;
        text-align: left;
        line-height: 1.1;
    }

    .section_02_title_wrapper {
        margin: 0 0 30px 0;
    }

    .section_02_title_wrapper h2:first-child {
        font-weight: 300;
    }

    .section_02_title_wrapper h2:nth-child(2) {
        font-weight: 400;
        font-size: 42px;
    }

    .product_category_wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .category_card {
        width: 350px;
        height: 70px;
        font-size: 20px;
    }

    .section_03 {
        border-radius: 10px;
        margin: 60px 0 0 0;
    }

    .section_03_title_wrapper h2:nth-child(2) {
        font-size: 38px;
    }

    .steps_design {
        gap: 15px;
        margin: 40px 0 0 0;
    }

    .steps_design h2 {
        width: 60px;
        height: 60px;
        font-size: 32px;
    }

    .step_devider {
        width: 40px;    
    }

    .steps_context {
        gap: 10px;
        margin: 0 0 10px 0;
    }

    .step_context_card {
        width: 120px;
    }

    .extra_description_section_03 {
        margin: 10px 0 20px 0;
    }

    .extra_description_section_03 h2 {
        font-size: 18px;
    }

    .section_04_icon_01 {
        width: 120px;
        height: 120px;
    }

    .section_04 h2{
        font-size: 34px;
        font-weight: 300;
        margin: 0;
    }

    .section_05 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .section_05 h2{
        font-size: 38px;
        font-weight: 300;
        margin: 30px 0 0 0;
    }

    .section_05 p{
        font-size: 18px;
        font-weight: 300;
    }

    .section_05 button {
        width: 150px;
        height: 40px;
        font-size: 16px;
        margin: 15px 0 30px 0;
    }
}