:root {
    --header_color: #591615;
    --header_strip_color: #000000;

    --text_color_01: #ebd7c6;
    --text_color_02: #000000;
    --text_color_03: #591615;

    --border_color_01: #ebd7c6;

    --background_color_01: #edede9;
    --background_color_02: #591615;
    --background_color_03: #000000;
}

#body {
    width: 100vw;
    height: auto;
}

.top_header_wrapper {
    position: relative;
    width: 100%;
    height: 65vh;
    background: var(--header_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0;
    margin: 0;
}

.logo_text_wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.logo_text {
    font-size: 36px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--text_color_01);
}

.logo_text_02 {
    font-size: 36px;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: var(--text_color_01);
}

.top_text_wrapper h2:first-child {
    font-size: 62px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--text_color_02);
    text-align: center;
    line-height: 1;
    gap: 0;
    padding: 0;
    margin: 0;
}

.top_text_wrapper h2:nth-child(2) {
    font-size: 100px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: var(--text_color_02);
    text-align: center;
    line-height: 1;
    gap: 0;
    padding: 0;
    margin: 0;
}

.top_text_wrapper h2:nth-child(3) {
    font-size: 32px;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: var(--text_color_01);
    text-align: center;
    line-height: 1;
    gap: 0;
    padding: 0;
    margin: 50px 0 0 0;
}

.header_bottom_strip {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    background: var(--header_strip_color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_bottom_strip ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0px;
}

.header_bottom_strip li {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--text_color_01);
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
}

.section_02 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    margin: 50px 0 0 0;
}

.section_02_title_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 0 0 0;
}

.section_02_title_wrapper h2 {
    font-family: "Lato", sans-serif;
    color: var(--text_color_01);
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
}

.section_02_title_wrapper h2:first-child {
    font-weight: 200;
    font-size: 32px;
    color: var(--text_color_03);
    letter-spacing: 10px;
    font-style: italic;
}

.section_02_title_wrapper h2:nth-child(2) {
    font-weight: 400;
    font-size: 52px;
    color: var(--text_color_02);
    font-style: normal;
}

.product_category_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px 0 50px 0;
}

.category_card {
    width: 250px;
    height: 250px;
    background: var(--background_color_01);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.2s ease;
}

.category_card:hover {
    background: var(--background_color_02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.category_card_title {
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    font-family: "Lato", sans-serif;
    color: var(--text_color_03);
    text-align: center;
    text-transform: uppercase;
    line-height: 250px;
    margin: 0;
    transition: color 0.2s ease-in;
}

.category_card_title:hover {
    color: var(--text_color_01);
}

.section_03 {
    width: 100%;
    height: auto;
    background: var(--background_color_03);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px 0 0 0;
}

.section_03_title_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: var(--text_color_01);
    line-height: 1;
    gap: 10px;
    margin: 50px 0 0 0;
}

.section_03_title_wrapper h1 {
    font-size: 22px;
    font-weight: 200; 
    padding: 0;
    margin: 0;
}

.section_03_title_wrapper h2 {
    font-size: 54px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.section_03_context_wrapper_01 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px 0 0 0;
}

.steps_design {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.step_number {
    width: 100px;
    height: 100px;
    border: 2px solid var(--border_color_01);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 46px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    font-style: italic;
    color: var(--text_color_01);
    line-height: 1;
}

.step_devider {
    width: 250px;
    height: 2px;
    background: var(--border_color_01);
}

.steps_context {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin: 0 0 40px 0;
}

.step_context_card {
    width: 250px;
    height: auto;
    border-radius: 10px;
    padding: 0;

    font-family: "Lato", sans-serif;
    font-style: normal;
    color: var(--text_color_01);
    line-height: 1;
    text-align: center;
}

.step_context_card h2 {
    font-size: 26px;
    font-weight: 400;
}

.step_context_card p {
    font-size: 16px;
    font-weight: 200;
}

.section_04 {
    width: 100%;
    height: auto;
    margin: 50px 0 0 0;
}

.store_disclaimer_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-family: "Lato", sans-serif;
    font-style: normal;
    color: var(--text_color_02);
    line-height: 1;
    text-align: center;
}

.section_04_icon_01 {
    width: 100px;
    height: 100px;
    margin: 0;
}

.section_04_icon_01 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.store_disclaimer_wrapper h2{
    font-size: 34px;
    font-weight: 400;
    margin: 0;
}

.store_disclaimer_wrapper p{
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.section_05 {
    width: 100%;
    height: auto;
    background: var(--background_color_02);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
}

.store_disclaimer_wrapper_02 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-family: "Lato", sans-serif;
    font-style: normal;
    color: var(--text_color_01);
    line-height: 1;
    text-align: center;
    margin: 50px 0 50px 0;
}

.store_disclaimer_wrapper_02 h2{
    font-size: 54px;
    font-weight: 400;
    margin: 0;
}

.store_disclaimer_wrapper_02 p{
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.store_disclaimer_wrapper_02 button {
    width: 200px;
    height: 50px;
    background: var(--background_color_01);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: var(--text_color_03);
    cursor: pointer;
    margin: 50px 0 0 0;
}

.section_06 {
    width: 100%;
    height: 50px;
    background: var(--background_color_03);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 0 0 0;

    font-family: "Lato", sans-serif;
    font-style: normal;
    color: var(--text_color_01);
    line-height: 1;
    text-align: center;
}

.section_06 h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.section_06 p {
    font-size: 16px;
    font-weight: 200;
    margin: 0;
}

@media screen and (max-width: 450px) {
    .top_text_wrapper h2:nth-child(2) {
        font-size: 80px;
        font-weight: 300;
    }

    .header_bottom_strip ul {
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style-type: disc;
        list-style-position: inside;
        padding-left: 0px;
        gap: 5px;
    }

    .header_bottom_strip li {
        font-size: 12px;
        font-weight: 300;
        text-align: center;
    }

    .section_02_title_wrapper h2:nth-child(2) {
        font-weight: 400;
        font-size: 42px;
    }

    .product_category_wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .category_card {
        width: 370px;
        height: 80px;
    }

    .category_card_title {
        line-height: 83px;
    }

    .section_03_title_wrapper h2 {
        font-size: 34px;
        text-align: center;
    }

    .step_number {
        width: 70px;
        height: 70px;
        font-size: 36px;
    }

    .step_devider {
        width: 40px;    
    }

    .steps_context {
        gap: 10px;
    }
    
    .step_context_card {
        width: 120px;
    }

    .store_disclaimer_wrapper_02 h2{
        font-size: 44px;
        font-weight: 400;
        margin: 0;
    }

    .section_06 {
        width: 100%;
        height: 80px;
        background: var(--background_color_03);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}